.tagBase {
  padding: 4px 12px;
  background: var(--background-secondary);
  border-radius: 4px;
}

.withMargin {
  margin-left: 8px;
  margin-right: 8px;
}

.tagText {
  composes: span from global;
  font-weight: bold;
  color: var(--primary-color);
}
