.typography {
  font-family: Noto Sans;
  font-size: 16px;
  font-weight: 400;
  line-height: 20px;
  letter-spacing: 0em;
  text-align: left;
  color: #f8f8f8;
  font-weight: bold;
}

.base {
  padding: 12px 16px;
  border-radius: 4px;
  border: 0;
}

.button {
  background: var(--primary-color);
  box-shadow: var(--button-shadow);
  composes: base typography;
}

.outlinedButton {
  composes: base typography;
  background: transparent;
  border: 1px solid var(--primary-color);
  color: var(--primary-color);
}

.secondaryButton {
  composes: base typography;
  color: var(--primary-color);
  background: var(--background-tertiary);
}

.roundedButton {
  composes: base typography;
  color: var(--primary-color);
  background: white;
  border-radius: 30px;
  box-shadow: var(--box-shadow);
  display: flex;
  min-width: 0;
}
