.actContainer {
  display: flex;
  justify-content: space-between;
  margin-bottom: 64px;
}

@media (max-width: 600px) {
  .actContainer {
    display: block;
  }

  .margin {
    margin-top: 16px;
  }
}
