.container {
  display: flex;
  justify-content: center;
  width: 100%;
}

.containerWrapper {
  max-width: 1118px;
  width: 100%;
  padding-right: 24px;
  padding-left: 24px;
}

.withPadding {
  composes: container;
  padding-top: 80px;
  padding-bottom: 80px;
}
