.container {
  display: flex;
  justify-content: center;
  width: 100%;
}

.containerWrapper {
  max-width: 1070px;
  width: 100%;
}

.withPadding {
  composes: container;
  padding-top: 80px;
  padding-bottom: 80px;
}
