.navWrapper {
  display: flex;
  padding: 24px 0px;
  .left {
    display: block;
    flex: 1 1;
  }
  .right {
    display: flex;
    justify-content: flex-end;
    flex: 1 1;
    margin-left: -16px;
    margin-right: -16px;
  }
  .right a {
    margin: 0px 16px;
    font-weight: bold;
  }
}

@media (max-width: 600px) {
  .navWrapper {
    .right {
      display: none;
    }

    display: flex;
    padding: 24px;
  }
}

@media (max-width: 768px) {
  .navWrapper {
    .right {
      display: none;
    }
  }
}
