.inputBase {
  background: var(--background-tertiary);
  border-radius: 4px;
  border: 0px;
  display: flex;
  width: 100%;
  max-width: 367px;
  position: relative;
}

.input {
  flex: 1 1;
  font-family: Noto Sans;
  font-style: normal;
  font-size: 16px;
  padding-right: 48px;
  line-height: 24px;
  color: var(--text-primary);
  background: transparent;
  border: 0px;
  padding: 12px 16px;
}

.input::placeholder {
  /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: var(--text-primary);
  opacity: 0.3; /* Firefox */
}

.iconContainer {
  top: 12px;
  bottom: 12px;
  right: 16px;
  position: absolute;
  display: flex;
  justify-content: center;
}
